/*-- scss:defaults --*/
// Navigation
$navbar-bg:   #348dff;

//
// Color system
//

$blue:    #00d6a4;


// Variables

$body-bg-image: linear-gradient(90deg, shade-color(#348dff, 10%), shade-color(#7934ff, 10%), shade-color(#21c35e, 5%)) !default;